<!DOCTYPE html>
<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<html>
{% extends "root.html" %}
{% block content %}
<div  class="terminal-window" id='terminal-window'>
    <div class="terminal_header">
        <div class="button green"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </div>
    <section class="terminal">
        <span  style="color:red"data-ty-prompt="▲">Error</span><br><br>              
       
        <pre>{{value}}</pre>
    </section>
</div>




{% endblock %}

</html>

