<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<html>
<div class="loaderback">
    <div class="loadingtext">Generating Output<br/><br/>Please Wait this might take some time</div>
    <div class="loader">
        <svg>
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 5 -2"
                        result="gooey" />
                    <feComposite in="SourceGraphic" in2="gooey" operator="atop" />
                </filter>
            </defs>
        </svg>
    </div>
</div>

{% extends "root.html" %}
{% block content %}

<div class="terminal-window" id='terminal-window'>
    <div class="terminal_header">
        <div class="button green"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </div>
    <section class="terminal">
        &#128250; NNI Audit Utility<br><br>

        <span data-ty-prompt="▲">Enter username, password, Device IP and Bundle ID to generate output </span><br><br>
        <form id="form" method="POST">
            <div class="block">
                <span data-ty-prompt="➜" /><span data-ty-prompt1="Username -->"></span>
                <input name="form" class="traceroute_input" type="text" />
            </div><br>
            <div class="block">
                <span data-ty-prompt="➜" /><span data-ty-prompt1="Password -->"></span>
                <input name="form1" class="traceroute_input" type="password" />
            </div><br>
            <div class="block">
                <span data-ty-prompt="➜" /><span data-ty-prompt1="Device IP -->"></span>
                <input name="form2" class="traceroute_input" type="text" />
            </div><br>
            <div class="block">
                <span data-ty-prompt="➜" /><span data-ty-prompt1="Bundle ID -->"></span>
                <input name="form3" class="traceroute_input" type="text" />
            </div><br>
            <div class="block">

                <input type="submit" class="btn" onclick="loading()"></input>
            </div><br><br>

        </form>


        <br><br>




    </section>
</div>
<script>
    function loading(){
        document.querySelector(".loaderback").style.display = "block";
    }
    
</script>

{% endblock %}

</html>