<!DOCTYPE html>
<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<html>
{% extends "root.html" %}
{% block content %}
<div  class="terminal-window" id='terminal-window'>
    <div class="terminal_header">
        <div class="button green"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </div>
    <section class="terminal">
        <span  data-ty-prompt="▲">Output generated for Traceroute Utility</span><br><br>              
       
        <pre>{{value}}</pre>
    </section>
</div>

<script type="text/javascript">
    window.appConfig = {
        valueVar: "{{value3}}"
    }
    
</script>
<script type="text/javascript">
    window.onload =  () => {
        if(appConfig.valueVar == "none"){
            document.querySelector(".showornot").style.display = "none";
            console.log(appConfig.valueVar)
        }
        else{
            document.querySelector(".showornot").style.display = "block";
            console.log(appConfig.valueVar)
        }
        

}
    
</script>


{% endblock %}

</html>

