<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/wtf-forms.css">

<html>
{% extends "root.html" %}
{% block content %}
<div class="terminal-window" id='terminal-window'>
    <div class="terminal_header">
        <div class="button green"></div>
        <div class="button yellow"></div>
        <div class="button red"></div>
    </div>
    <section class="terminal">
        
        &#128250; Welcome to TWAMP Portal<br><br>
        &#128194; Existing Reports<br><br>
        {%for i in f%}

        &#128196; {{i}}<br>
        {%endfor%}
        <br><br>
        
        {{message}}
        
        
        <br>
        
        <form action="/twamp" method="POST" enctype="multipart/form-data">
           

            <div class="form-group">
                <input type="file" class="custom-file-input" name="file" id="file">
            </div>
            <br>
            <button style="left:10px" type="submit" class="btn btn-primary">Upload</button>
           
        </form>
        <a class="btn" href="{{ url_for('runtwampn') }}">Run Script</a>
      {% endblock %}

</html>